footer {
    background-color: var(--highlight-primary-color);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 25vh;
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

.footer__all-rights-reserved, .footer__social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: var(--thirty-text-color);
}

.footer__social-media div a {
    margin: 0 3px;
}