.brand__and__navigation {
    display: flex;
    background-color: var(--default-primary-color);
    width: 100%;
    height: 12vh;
}

.brand__and__navigation .brand {
    width: 15vh;
    height: 100%;
    padding: 10px 15px 15px;
}

.brand__and__navigation .brand a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.brand__and__navigation nav {
    display: block;
    margin: auto;
}

.brand__and__navigation nav ul {
    display: flex;
}

.brand__and__navigation nav ul li a {
    display: inline-block;
    margin: 0 15px;
    font-family: var(--title-font-family);
    font-size: large;
    color: var(--primary-text-color);
}

.brand__and__navigation nav ul li a:hover {
    color: var(--highlight-primary-color);
}

.initial__call {
    display: flex;
    flex-direction: row;
    margin-left: 25vh;
    background-color: black;
}

.initial__call-img {
    max-width: 50%;
}

.initial__call-img img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.initial__call-text {
    margin: auto;
}

.initial__call h1 {
    margin-left: 20vh;
    text-align: center;
    font-size: 4vh;
    font-family: var(--title-font-family);
    color: var(--primary-text-color);
}